@model IEnumerable<Takenet.Library.Logging.LogMessage>

@{
    ViewBag.Title = "Log Messages";
}

@Html.Partial("_Query", (Takenet.Library.Logging.Web.Models.LogQuery)ViewBag.LogQuery)

<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-align-justify"></i>
        </span>
        <h5>Logs</h5>
    </div>
    <div class="widget-content">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Application</th>
                    <th>Severity</th>
                    <th>Machine</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var logMessage in Model)
                {
                    string cssClass = null;

                    switch (logMessage.Severity)
                    {
                        case System.Diagnostics.TraceEventType.Critical:
                            cssClass = "alert alert-error";
                            break;
                        case System.Diagnostics.TraceEventType.Error:
                            cssClass = "alert alert-error";
                            break;
                        case System.Diagnostics.TraceEventType.Information:
                            cssClass = "alert alert-info";
                            break;
                        case System.Diagnostics.TraceEventType.Verbose:
                            cssClass = "alert alert-success";
                            break;
                        case System.Diagnostics.TraceEventType.Warning:
                            cssClass = "alert alert-block";
                            break;
                    }                    
                                        
                <tr class="gradeX  @cssClass">
                    <td>
                        @logMessage.Timestamp
                    </td>
                    <td>
                        @logMessage.ApplicationName
                    </td>
                    <td>
                        @logMessage.Severity
                    </td>
                    <td>
                        @logMessage.MachineName
                    </td>
                    <td>
                        @logMessage.Message
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>